 body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background: #7c1bbc;
  color: white;
  padding: 80px 20px;
}

button {
  padding: 12px 25px;
  border: none;
  background: white;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
button:hover {
  background: #e9ecef;
  transform: scale(1.05);
  transition: 0.3s;
}

